body {
    font-family: 'Montserrat', sans-serif;
}

.flex {
    display: flex;
}

.half-width {
    width: 50%;
}

.banner-text {
    margin: 80px 0 0 60px;
}

.banner-text h1 {
    font-size: 60px;
    font-weight: 700;
    color: #575757;
    margin-bottom: 25px;
}

.banner-text span {
    color: #FD5031;
}

.banner-text p {
    margin-bottom: 50px;
}

.banner-text a {
    text-decoration: none;
    background-image: linear-gradient(#FC8F49, #FD5031);
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}

.banner_img {
    margin: 50px 0 0 120px;
}

.banner_img img {
    width: 80%;
}

.about {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;

}

.about_img img {
    width: 40%;
    margin: 120px 0 0 250px;
}

.about_text {
    margin: 100px 150px;
}

.about_text h1 {
    font-size: 40px;
    font-weight: 700;
    color: #575757;

}

.about_text p {
    margin-bottom: 60px;
}

.about_text a {
    text-decoration: none;
    background-image: linear-gradient(#FC8F49, #FD5031);
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}

.recipy {
    padding: 40px 0;
}

.recipy_title {
    text-align: center;
}

.recipy_blog {
    width: 100%;
}

.blog_item {
    width: 27%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
    padding: 10px;
    border-radius: 15px;
    margin: 0 31px;
}

.blog_item h3 {
    font-size: 30px;
    font-weight: 700;
}

.blog_item img {
    width: 100%;
}

.counter {
    width: 90%;
    margin-left: 65px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
}

.counter_item {
    width: 32%;
    text-align: center;

}